@use "_colors.scss" as *;
@use "_mixins.scss" as *;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: royalblue;
}

.shadow{
	display: none;
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	z-index: 0;
}
.shadow-show{
	display: block;
}
.wrapper {
	position: relative;
	padding: 2em;
	width: 100%;
	max-width: 900px;
}

.form {
	display: flex;
	position: relative;
	background-color: white;
	.heading {
		margin-bottom: 0.5em;
		font-size: 2.5rem;
		text-transform: uppercase;
	}
	input {
		padding: 1em 2em;
        width: 100%;
		border: none;
		outline: none;
		font-size: 1.6rem;
        border-bottom: 1px solid $main-color;
	}

	&__img-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 50%;
		background-image: url('/images/attractions6.jpg');
		background-size: cover;
		background-position: center;
		color: $pure-white;
		transition: right 0.5s;
	}
	&__img-text-bold{
		margin-bottom: 0.6em;
		font-size: 3rem;
		font-weight: bold;
		text-transform: uppercase;
		z-index: 1;

	}
	&__img-text-bold-span{
		color: $main-color;
	}

	&__img-text{
		margin-bottom: 0.6em;
		font-size: 2.2rem;
		z-index: 1;
	}
	&__img-shadow{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.3);
		z-index: 0;
	}
	&__img-btn{
		padding: 0.8em 1.6em;
		margin-top: 0.4em;
		background: none;
		border: none;
		border: 2px solid #ffffff;
		border-radius: 8px;
		font-size: 1.5rem;
		font-weight: bold;
		color: $pure-white;
		text-transform: uppercase;
		letter-spacing: 1px;
		cursor: pointer;
		z-index: 1;
		transition: background-color 0.3s, border 0.3s;
		&:hover{
			background-color: $main-color;
			border-color: $main-color;
		}
	}
	.fa-arrow-left{
		position: absolute;
		top: 15px;
		left: 15px;
		font-size: 4rem;
		color: $main-color;
		cursor: pointer;
	}
	&__login {
		padding: 4em;
		width: 50%;
	}
	&__login-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}
	&__login-input-box {
		position: relative;
		margin-bottom: 2.2em;
		i {
			@include iconStyle();
		}

	}
	&__login-text-remind {
        margin-bottom: 0.2em;
		font-size: 1.8rem;
		color: $main-color;
		cursor: pointer;
	}
	&__login-text-register {
		margin: 0.3em 0;
		font-size: 1.8em;
		text-align: center;
	}
	&__login-text-register-span {
		color: $main-color;
		cursor: pointer;
	}
	&__login-text-other {
		margin-bottom: 1em;
		font-size: 1.7rem;
		text-align: center;
		color: gray;
	}
	&__login-social {
        display: flex;
		justify-content: space-around;
		margin-bottom: 1em;
		font-size: 1.9rem;
		i {
            margin-right: 0.5em;
		}
	}
	&__login-social-facebook {
        @include socialBoxStyle();
		color: $blue-color;
		&:hover {
            background-color: $blue-color;
			color: $pure-white;
		}
	}
	&__login-social-google {
        @include socialBoxStyle();
		color: $red-color;
		&:hover {
            background-color: $red-color;
			color: $pure-white;
		}
	}
    
    &__register {
        padding: 4em;
        width: 50%;
        opacity: 0;
        transition: opacity 1.2s;
    }
    &__register-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__register-content-box {
        margin-bottom: 1.4em;
    }
    &__register-input-box{
        position: relative;
        i{
            @include iconStyle();
        }
    }

    &__register-error{
        margin-left: 0.2em;
		margin-top: 0.4em;
        font-size: 1.5rem;
        color: red;
		visibility: hidden;      
    }
	&__register-show-error{
		visibility: visible;
	}
	&__register-btns {
        display: flex;
	}
    
	&__btn {
		padding: 1.1em;
		margin: 1em 0;
		width: 100%;
		border: none;
		font-size: 1.5rem;
		background-color: $main-color;
		color: $pure-white;
		border: 3px solid $main-color;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		border-radius: 8px;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;
		&:hover{
			background-color: $pure-white;
			color: $main-color;
		}
	}
	&__btn-register:first-child {
		margin-right: 2em;
	}
	&__active {
        opacity: 1;
	}


}

.success{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 55%;
	background-color: $pure-white;
	font-size: 1.8rem;
	border-radius: 5px;
	z-index: 1;

	&__top{
		display: flex;
		justify-content: center;
		padding: 1.4em;
		background-color: $main-color;
		&-circle{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 92px;
			height: 92px;
			border: 4px solid $pure-white;
			border-radius: 50%;
			color: $pure-white;
			font-size: 5.6rem;
		}
	}
	&__bottom{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1.5em;
	}
	&__bottom-text-bold{
		margin-bottom: 0.5em;
		font-size: 2.8rem;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
	&__bottom-text{
		margin: 0.2em 0;
	}
	&__bottom-btn{
		margin-top: 1.2em;
		padding: 0.8em 1.6em;
		border-radius: 8px;
		background-color: $main-color;
		color: $pure-white;
		border: 3px solid $main-color;
		font-size: 1.45rem;
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;
		&:hover{
			background-color: $pure-white;
			color: $main-color;
		}
	}
	&-show{
		display: block;
	}
}

@keyframes show {
    0%{
        visibility: hidden;
    }
	50% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
